.container {
  background: var(--grey-100);
  padding: var(--space-4);
  border-radius: 8px;
  margin: var(--space-4);
  // gap: var(--space-3);
}

.title {
  padding-bottom: var(--space-3);
  color: var(--green-main);
}

.section {
  margin-bottom: var(--space-5);

  h3 {
    margin-bottom: var(--space-3);
    color: var(--green-dark);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-3);
}

/* Tablet */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-4);
}

.attachmentsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-3);
  align-items: start;
}

/* Tablet */
@media (max-width: 1024px) {
  .attachmentsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .attachmentsGrid {
    grid-template-columns: 1fr;
  }
}
