.appBar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e5e7eb;
  color: var(--grey-900);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  margin: 0 48px;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
