.container {
  background: var(--grey-100);
  border-radius: 8px;
  padding: var(--space-3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.table {
  width: 100%;
  border-collapse: collapse;

  :global(.MuiTableCell-root) {
    font-size: 0.75rem;
    padding: 8px 12px;
  }

  :global(.MuiTableCell-head) {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);
  }

  :global(.MuiTableCell-body) {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-primary);
  }
}
