.container {
  background: var(--grey-100);
  border-radius: 8px;
  padding: var(--space-3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  th {
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-secondary);
  }

  td {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-primary);
  }
}
