.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

/* Apenas os selects ficam em grid */
.selectsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(320px, 1fr));
}

/* Data ocupa só o necessário */
.dateField {
  width: 220px;
}

/* Descrição ocupa 100% */
.descriptionField {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.documentsSection {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.documentRow {
  display: flex;
  align-items: center;
  width: 70%;
}

.documentLabel {
  width: 640px;
}

.uploadWrapper {
  width: 320px;
}

.actions {
  margin-top: 32px;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
