.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-top: 60px; // altura do header fixo (ajuste se necessário)
  padding-bottom: 60px; // 🔥 altura do footer fixo
}
