.container {
  //   background: var(--white);
  background: var(--grey-100);
  border-radius: 8px;
  padding: var(--space-3);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* ================= FILTERS ================= */

.filter {
  background-color: var(--white) !important;
  border: 1px solid var(--grey-300) !important;
  color: var(--grey-700) !important;

  &:hover {
    background-color: var(--grey-100);
    border-color: var(--grey-500);
    color: var(--grey-700);
  }
}

.filterActive {
  background-color: var(--grey-700) !important;
  border: 1px solid var(--grey-700) !important;
  color: var(--white) !important;

  &:hover {
    background-color: var(--grey-700);
    opacity: 0.9;
  }
}

.filters {
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-3);
  margin-left: var(--space-8);
  flex-wrap: wrap;
}

/* ================= TABLE ================= */

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }

  th {
    font-size: 0.75rem; // mais clean que 0.85
    font-weight: 600;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.04em;
    white-space: nowrap;
    font-weight: 700;
  }

  td {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-primary);
    white-space: nowrap;
    font-weight: 500;
  }
}

/* ================= STATUS BADGE ================= */

.status {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.75rem;
  font-weight: 600;
  min-width: 110px;

  margin: 0 auto;

  color: var(--white);
  background: color-mix(in srgb, var(--status-color) 90%, white);
}

/* ===== STATUS COLORS ===== */

.LICENCIADA {
  --status-color: var(--status-licenciada);
}

.VENCIDA {
  --status-color: var(--status-vencida);
}

.EM_ANDAMENTO {
  --status-color: var(--status-em-andamento);
}

.A_VENCER {
  --status-color: var(--status-a-vencer);
}

/* ================= PAGINATION ================= */

.pagination {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--space-8);
  padding-top: var(--space-3);
}

.processLink {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  color: var(--text-primary) !important; // força a cor igual ao td
  text-decoration: underline !important; // força o sublinhado
  white-space: nowrap !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer !important;

  &:hover {
    text-decoration: underline !important; // garante sublinhado no hover
    background: transparent !important;
  }
}
