.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}
