.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);

  max-width: 1280px;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}
.tableWrap {
  margin-top: 12px;
  margin-right: 34px;
}
