.stepper {
  min-width: 300px;
}

:global(.MuiStepConnector-root.MuiStepConnector-alternativeLabel) {
  top: calc(36px / 2);
}

.stepIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--grey-300);
  color: white;

  transition: all 0.3s ease;
}

.active {
  background-color: var(--status-em-andamento);
}

.completed {
  background-color: var(--status-licenciada);
}
